img  {
    width: 180px;
}

.good {
    width: 200px;
    margin: 20px;
}

.price slug{
    color: blue;
}

.good div {
    padding: 10px;
}

div {
    border:  1px solid green;
}

.good {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 400px;
}
.good .item {
	width: 25%;
	height: 200px;
	background-color: gray;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 50px;

}